<!DOCTYPE html>
<html>
<body>
    <h2>数あてゲーム</h2>
    <p>1~3 の数字をあててください</p>

    <form action="/game/result" method="POST">
        <input type="hidden" name="username" value="{{.Username}}">
        <input type="hidden" name="answer" value="{{.Answer}}">
        <input type="number" name="number" min="1" max="3">
        <input type="submit" value="勝負！">
    </form>

    <br>
    <form action="/menu" method="POST">
        <input type="hidden" name="username" value="{{.Username}}">
        <input type="submit" value="メニューに戻る">
    </form>
</body>
</html>
